openapi: 3.0.3
info:
  title: ViaTrade Auth API
  version: 1.0.0
  description: All API data for Backend routs with REST format

paths:
  /api/auth/login:
    post:
      summary: User login
      operationId: login
      tags:
        - Auth
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoginRequest'
      responses:
        '200':
          description: Successful login
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthResponse'
        '401':
          description: Invalid credentials

  /api/auth/register:
    post:
      summary: User registration
      operationId: register
      tags:
        - Auth
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegisterRequest'
      responses:
        '200':
          description: Successful registration
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthResponse'
        '400':
          description: User already exists or invalid data

components:
  schemas:
    LoginRequest:
      type: object
      required:
        - login
        - password
      properties:
        login:
          type: string
          example: user1
        password:
          type: string
          example: password123

    RegisterRequest:
      type: object
      required:
        - login
        - password
      properties:
        login:
          type: string
          example: user1
        password:
          type: string
          example: password123

    AuthResponse:
      type: object
      properties:
        accessToken:
          type: string
          example: jwt-access-token
        refreshToken:
          type: string
          example: refresh-token
